* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
  color: #121;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #000814;
}

#parent {
  border: 1px solid black;
  width: 60%;
  margin: 100px auto 50px;
  padding: 25px;
}

.div {
  border: 1px solid black;
  padding: 16px;
}

.div-static {
  position: static;
  top: 25px;
}

.div-relative {
  /* move from its current position*/

  position: relative;
  left: 10px;
right: 100px;
width: 60%;

}
