header {
  height: 70px;
  background-color: #121212f5;
}

main {
  background-color: #121212f0;
  color: white;
  padding: 15px;
}

.container {
  width: 70%;
  margin: 0 auto;
}

#logo {
  margin-top: 16px;
}
table,
tr,
th,
td {
  border: 1px solid #ffffff;
}

th,
td {
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.table {
  margin: 20px 0px;
}

.heading {
  text-align: center;
  margin-top: 8px;
}

footer {
  height: 30px;
  background-color: #141414ef;
  text-align: center;
  padding: 5px 0;
  color: white;
}

#button {
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  padding: 4px;
  float: right;
  margin: 17.5px 0;
  height: 35px;
  width: 120px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}
